body{
  padding: 0px;
}
.navbar {
  border-radius: 23px;
  padding: 0px 40px;
  margin: 15px;
  margin-bottom: 0px;
}

.hero {
  border-radius: 20px;
  padding: 0px 20px;
  margin: 15px;
  box-shadow: inset 0 0 100px black;
}

img, table {
  border-radius: 5px;
  border-color: white;
}
