html,
body {
    margin: 0;
    padding: 0;
}
#vis {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#vis div {
    float: left;
    position: relative;
}
#vis path {
    fill: #2ca25f;
    stroke: #FFF;
    stroke-width: 1px;
}
#vis figcaption.legend {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 11px;
}
.land {
/* fill : grey; */
stroke : white;
stroke-width: 1px;
}
