body{
  padding: 0px;
}
.navbar {
  border-radius: 23px;
  padding: 0px 40px;
  margin: 15px;
  margin-bottom: 0px;
  box-shadow: inset 0 0 100px rgb(74, 11, 7);
}

.hero {
  border-radius: 20px;
  padding: 0px 20px;
  margin: 15px;
  box-shadow: inset 0 0 100px black;
}

img, table {
  border-radius: 5px;
  border-color: white;
}

.land {
  /* fill : grey; */
  stroke : white;
  stroke-width: 1px;
}

#tooltip {
  font-size: 10px;
}
